* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(86, 121, 149);
  padding: 20px;
}

nav {
  background-color: rgb(250, 250, 250);
  border: 2px solid rgb(185, 184, 184);
  border-radius: 8px;
}

nav a {
  padding: 10px;
  display: block;
  text-align: center;
  text-decoration: underline;
  transition: 1s;
}

nav a:hover {
  font-size: larger;
  color: rgb(9, 255, 0);
}

.container {
  background-color: rgb(185, 184, 184);
  width: 80%;
  height: 80%;
  margin: 80px auto;
  padding: 25px 10px;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: 1px 1px 50px 1px rgba(27, 27, 27, 0.553);
}
h1,
h2 {
  color: white;
  text-align: center;
  text-decoration: underline;
}

.user-reg-log {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

hr {
  margin: 20px;
}

form {
  padding: 50px;
  margin: 10px auto;
  background-color: rgb(250, 250, 250);
  box-shadow: 1px 1px 50px 1px rgba(28, 27, 27, 0.553);
  width: 100%;
  /* border: 3px solid rgb(86, 121, 149); */
  border-radius: 8px;
}

input {
  color: white;
  display: block;
  text-align: left;
  padding: 10px;
  background-color: rgb(196, 195, 195);
  border: 0;
}

input[type="submit"] {
  text-align: center;
}

.registration-container #regPassword,
.registration-container #regConfPassword,
.registration-container #regEmail,
.registration-container #regName,
.registration-container #regLogin {
  width: 100%;
  margin: auto;
}

#regLogin {
  background-color: rgb(54, 145, 145);
  color: white;
  transition: 1s;
}

#regLogin:hover {
  color: rgb(138, 255, 117);
  background-color: rgb(86, 121, 149);
}

a {
  color: rgb(54, 145, 145);
  text-decoration: none;
}

.login-container #logEmail,
.login-container #logPassword,
.login-container #logLogin {
  width: 100%;
}

#logLogin {
  background-color: rgb(54, 145, 145);
  color: white;
  transition: 1s;
}

#logLogin:hover {
  color: rgb(138, 255, 117);
  background-color: rgb(86, 121, 149);
}

.login-container a {
  display: block;
  text-align: center;
}

.registration-container #reg-error {
  display: none;
  color: red;
}

.login-container #login-error {
  display: none;
  color: red;
}
